nav {
    display: flex;
    justify-content: center;
}
        
.pagination {
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    
}
        
.pagination li {
    display: list-item;
    text-align: -webkit-match-parent;

    
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}